671184952_18043844321757922_6669570955674767336_n.jpg
Black White Minimalist Professional Initial Logo (1) (1).png
androidlogo.jpeg
androidlogo.png
Black White Minimalist Professional Initial Logo (1) (1).png
chatgpt.png
deepseek.png
ID PASS.txt
mdnlogo.pngms-copilot.png
removebg.png
Screenshot_15-6-2026_183327_github.com.jpeg
Screenshot_16-6-2026_233236_github.com.jpeg
Shreyas.jpg
test.html
Twilight dunes in deep shadows.png
Untitled design (1).png
icon-192.png
icon-512.png
icon-maskable-192.png
icon-maskable-512.png
logo.jpg
mdnlogo.png
ms-copilot.png